.chatid-cont{
    width: 200px;
    margin: 5px;
    height: 40px;
    background-color: azure;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding:0 10px 0 10px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatid-cont:hover{
    background-color: beige;
    transform: scale(1.05);
}

.chatid-cont:active{
    transform: scale(1);
    transition: all 0.2s;
}

.selected-chat{
    background-color: rgb(207, 201, 201);
    transform: scale(0.9);
    height: 40px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.online{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: green;
    box-shadow: 0 0 10px 3px green;
    animation: onlineanim 2s infinite;
}

.offline{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 10px 3px rgb(255, 0, 0);
}

@keyframes onlineanim{
    0% {opacity: 1;}
    50% {opacity: 0.5;}
}